body{
    background-color: #5988FF;
    font-family: "Inter";
    font-size: 20px;
}

h1,h2{

    text-align: center;
    color:#D6FF6B;
    border-top: 2px solid #FD98FB;
    border-bottom: 2px solid #FD98FB;
    animation: animacja 10s infinite;
    transition: 1s
}

p{
    text-align: center;
    color:#FFFFFF;
}

ul{
    color:#FFFFFF;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1:hover{
    cursor:pointer;
    font-size: 100px;
}

img:hover{
    transform: scale(2.0)
}

ul:hover{
    font-size: 30px;
}

ul{
    transition: 2s

}

img{
    transition: 1s  
}
@keyframes animacja {

    0%{
        color: red
    }
    
    10%{
        color:black
    }

    25%{
        color:orange

    }
    
    50%{
        color:green
    }

    75%{
        color: yellow
    }

    100%{
        color: blue

    }
}
